.topbar {
    position: absolute;
    top: 0;
    z-index: 1;

    .svg-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: .8rem 1rem;
        border-radius: 5rem;
        margin: 1rem;
        position: relative;
        box-shadow: var(--main-box-shadow);

        .svg-bell {
            width: 1.6rem;
        }

        .badge {
            position: absolute;
            top: 20%;
            right: 20%;
            padding: 8px;
            border-radius: 50%;
            background: red;
        }

        .stretched-link {

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}

.qrcode-container {
    text-align: center;

    .qrcode-img {
        width: 80%;
    }
}
