<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noindex,nofollow">
        <meta name="description" content="Web app developed forFortil Event">

        <title>{% block title %}Fortil | Event{% endblock %}</title>

        <link rel="icon" href="https://fortil.group/wp-content/uploads/cropped-favicon-fortil-512-32x32.png" sizes="32x32">
        <link rel="icon" href="https://fortil.group/wp-content/uploads/cropped-favicon-fortil-512-192x192.png" sizes="192x192">
        <link rel="apple-touch-icon" href="https://fortil.group/wp-content/uploads/cropped-favicon-fortil-512-180x180.png">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
