{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert--{{ label }}">
            {{ message }}
            <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
        </div>
    {% endfor %}
{% endfor %}