<div class="svg-container">
    <a class="stretched-link" href="{{ path('app_home_index', {_locale: 'fr'}) }}">FR</a>
</div>

<div class="svg-container">
    <a class="stretched-link" href="{{ path('app_home_index', {_locale: 'en'}) }}">EN</a>
</div>