{% extends 'base.html.twig' %}

{% block title %}Fortil | Back Office{% endblock %}

{% block body %}
<div class="main-container backoffice">
    <section class="container">
        <h1 class="main-title">Fortil Event Back Office</h1>

        <article>
            <h2>Event</h2>

            <div class="btn-container">
                <a class="btn btn--gradient" href="{{ path('app_event_create') }}">Post</a>
                <a class="btn btn--gradient" href="{{ path('app_event_list') }}">List</a>
            </div>
        </article>

        <article>
            <h2>Form</h2>

            <div class="btn-container">
                <a class="btn btn--gradient" href="#">Post</a>
                <a class="btn btn--gradient" href="#">List</a>
            </div>
        </article>
    </section>
</div>
{% endblock %}
